$breakpoint-1: 1570;
$breakpoint-2: 1273;

$breakpoint-25: 1024;

$breakpoint-3: 992;
$breakpoint-4: 768;
$breakpoint-5: 576;

$breakpoint-10: 1653;


//$breakpoint-1: map-get($grid-breakpoints, xl);
//$breakpoint-2: map-get($grid-breakpoints, lg);
//$breakpoint-3: map-get($grid-breakpoints, md);
//$breakpoint-4: map-get($grid-breakpoints, sm);

//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 1200px,
//xl: 1400px