$breakpoint-1: 1400;
$breakpoint-2: 1200;
$breakpoint-3: 768;
$breakpoint-4: 576;


//$breakpoint-1: map-get($grid-breakpoints, xl);
//$breakpoint-2: map-get($grid-breakpoints, lg);
//$breakpoint-3: map-get($grid-breakpoints, md);
//$breakpoint-4: map-get($grid-breakpoints, sm);

//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 1200px,
//xl: 1400px