$dark: #09468C;
$tr: transparent;
$white: #fff;

$gray: #C3CCDB;
$darkGray: #DEE4F6;
$light: #3586D6;
$lightBlue: #CDE1F5;

.color-white { color: $white; }
.color-dark { color: $dark; }

.color-gray { color: $gray; }
.color-darkGray { color: $darkGray; }
.color-light { color: $light; }




