.offer {
  position: relative;
  min-height: 800px;
  //height: 100vh;
  @include cv;
  display: grid;
  grid-template-rows: auto 1fr;

  @include r($breakpoint-1) {
    min-height: 680px;
  }


  @include r($breakpoint-4) {
    min-height: 600px;
  }
}

.offer-lines {
  position: absolute;
  top: -73%;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-size: 100%;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  transform: scaleY(-100%) scaleX(-100%);
  opacity: .5;

  @include r($breakpoint-1) {
    top: -610px;
  }
}

.offer-slide {
  position: relative;
  height: 100%;
  flex-grow: 1;
  z-index: 1;
  padding-top: 50px;

  @include r($breakpoint-1) {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  @include r($breakpoint-2) {
    padding-bottom: 150px;
  }

  @include r($breakpoint-4) {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .container {
    height: 100%;
  }

  .title-h2 {
    margin-bottom: 20px;
  }

  .button {
    margin-top: 60px;
  }
}

.offer-info {
  position: relative;
  z-index: 1;

  padding-left: 55px;

  @include r($breakpoint-1) {
    padding-left: 30px;
  }
  @include r($breakpoint-2) {
    padding-left: 20px;
  }
  @include r($breakpoint-3) {
    padding-left: 0;
  }
  @include r($breakpoint-4) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button {
      width: calc(100% + 8.33333% + 10px);
    }
  }
}

.offer-picture__wrapper {
  position: relative;
  height: 100%;

  img {
    right: -200px;
    bottom: 0;
    position: absolute;

    @include r($breakpoint-1) {
      max-width: 740px;
      bottom: -90px;
      right: -175px;
    }

    @include r($breakpoint-2) {
      max-width: 650px;
      bottom: -150px;
      right: -155px;
    }


    @include r($breakpoint-4) {
      max-width: 550px;
      bottom: 0;
      right: -175px;
    }
  }
}

.hits .slider {
  overflow: hidden;
}

@mixin picture {
  height: 760px;

  @include r($breakpoint-1) {
    height: 620px;
  }

  @include r($breakpoint-3) {
    height: 580px;
  }
}

.hit-slide {
  @include cv;
  width: 100%;
  overflow: hidden;

  @include picture;

  &:hover {
    .hit-slide__in {
      opacity: 1;
      visibility: visible;
    }
  }

  &__in {
    position: relative;
    color: $white;
    text-align: center;
    padding: 30px;
    @include cv;
    width: 100%;
    height: 100%;
    @include flex-center;
    @include ease-long;
    opacity: 0;
    visibility: hidden;

    &::before {
      @include ovl;
      background-color: $dark;
      opacity: 0.7;
    }
  }

  &__title {
    position: relative;
    line-height: 1.2;
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.1;

    @include r($breakpoint-1) {
      gap: 15px;
    }
  }
}

.views-grid {
  @include cv;
  overflow: hidden;
}
.views-title {
  position: relative;
  @include flex-center;
  height: 100%;
  width: 100%;

  @include r($breakpoint-4) {
    min-height: 305px;
    text-align: center;
  }

  &-content {
    &-left {
      transform: translateX(20px);

      @include r($breakpoint-4) {
        transform: translateX(0);
      }
    }
    &-right {
      transform: translateX(-20px);

      @include r($breakpoint-4) {
        transform: translateX(0);
      }
    }
  }

  .title-h1 {
    position: relative;
  }

  .views-decor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1080px;
    background-size: 100%;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%) scaleY(-100%) scaleX(-100%);
  }
}
.views-picture {
  position: relative;
  @include cv;
  z-index: 1;
  @include picture;
}

.gift {
  position: relative;
  background: linear-gradient(0deg, #7DBEFB 0%, #D4E6F7 100%);
  @include cv;
  padding-top: 140px;
  padding-bottom: 80px;
  overflow: hidden;

  @include r($breakpoint-1) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include r($breakpoint-4) {
    padding-top: 0;
    padding-bottom: 20px;

    &::before {
      @include ovl;
      background: linear-gradient(90deg, rgb(103, 182, 251) 0%, rgb(224, 238, 253) 100%);
    }

  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.gift-girl {
  &__wrapper {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      width: auto;
      height: calc(100% + calc(140px + 80px));
      right: -110px;
      top: -140px;
      //transform: translateY(-50%);

      @include r($breakpoint-1) {
        top: -40px;
        left: -270px;
        right: auto;
        height: calc(100% + 80px);
      }

      @include r($breakpoint-4) {
        height: auto;
        position: relative;
        left: 50%;
        top: auto;
        max-width: 137%;
        transform: translateX(-50%);
      }
    }
  }
}

.gift-form {
  position: relative;
  width: calc(100% + 40px);
  margin-left: -40px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(62deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);

  @include r($breakpoint-1) {
    padding-right: 20px;
    width: calc(100% + 80px);
    margin-left: -80px;
  }

  @include r($breakpoint-2) {
    padding: 40px 18px 56px 20px;
  }

  @include r($breakpoint-4) {
    padding: 20px 20px;
    width: 100%;
    margin-left: 0;
  }

  &__decor {
    position: absolute;
    top: 0;
    right: 0;

    @include r($breakpoint-1) {
      max-width: 220px;
      object-fit: contain;
    }

    @include r($breakpoint-2) {
      max-width: 160px;
    }
  }

  &__title {
    padding-right: 230px;
    margin-bottom: 29px;

    @include r($breakpoint-10) {
      padding-right: 20%;
    }

    @include r($breakpoint-4) {
      padding-right: 140px;
    }
  }
}

@mixin form-max-width {
  max-width: 450px;

  @include r($breakpoint-3) {
    max-width: unset;
  }
}

.gift-grid {
  display: grid;
  grid-template-columns: auto 230px;
  gap: 70px;
  align-items: flex-end;

  @include r($breakpoint-1) {
    grid-template-columns: auto 171px;
    gap: 27px;
  }

  @include r($breakpoint-2) {
    grid-template-columns: 325px auto;
    gap: 18px;
  }

  @include r($breakpoint-3) {
    grid-template-columns: auto;
  }
}

.gift-info {
  margin-bottom: calc(60px + 40px);
  @include r($breakpoint-1) {
    font-size: 12px;
    margin-bottom: calc(57px + 40px);
  }
  @include r($breakpoint-3) {
    display: none;
  }

  &-mobile {
    font-size: 13px;
    display: none;

    @include r($breakpoint-3) {
      display: block;
    }
  }
}

.gift-form__fields {
  display: flex;
  flex-direction: column;
  @include form-max-width;
  gap: 40px;

  & > * {
    width: 100%;
  }
  @include r($breakpoint-3) {
    gap: 20px
  }

  @include r($breakpoint-4) {
    gap: 30px;
  }
}

.feed {
  padding-top: 38px;
  @include r($breakpoint-4) {
    margin-bottom: 0;
  }
}

.feed-decor__wrapper {
  position: relative;
  height: 100%;

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 160%;

    @include r($breakpoint-1) {
      max-width: 145%;
    }

    @include r($breakpoint-2) {
      right: 10px;
      max-width: 140%;
    }

    @include r($breakpoint-2) {
      right: 10px;
      max-width: 230%;
    }

    @include r($breakpoint-4) {
      position: relative;
      //left: auto;
      top: auto;
      right: auto;
      //transform: translateY(0);
      max-width: 120%;
      left: 50%;
      transform: translateX(-50%);

    }
  }
}

.feed-form {
  padding-top: 80px;
  padding-bottom: 120px;

  @include r($breakpoint-1) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @include r($breakpoint-2) {
    position: relative;
    width: calc(100% + 40px);
    left: -40px;
  }

  @include r($breakpoint-4) {
    width: 100%;
    left: 0;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;

    @include r($breakpoint-1) {
      gap: 20px;
    }
  }

  &__in {
    @include form-max-width;
  }
}

.w-xs-100 {
  @include r($breakpoint-4) {
    width: 100%;
  }
}

.feed-radio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}
.feed-input__wrapper {
  & > * {
    margin-bottom: 40px;
  }
}

.scheme {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 108px;

  @include r($breakpoint-1) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @include r($breakpoint-4) {
    gap: 20px;
  }

  img {
    mix-blend-mode: darken;
  }
}

.feed-footer {
  .text {
    @include r($breakpoint-2) {
      font-size: 16px;
    }

    @include r($breakpoint-3) {
      font-size: 14px;
    }
  }
}

.meeting {
  position: relative;
  @include cv;
  @include flex-center;
  height: 100%;

  @include r($breakpoint-4) {
    min-height: 217px;
  }

  .link-underline {
    position: absolute;
    left: 50%;
    bottom: 108px;
    transform: translateX(-50%);

    @include r($breakpoint-1) {
      bottom: 50px;
    }
    @include r($breakpoint-2) {
      white-space: nowrap;
    }

    @include r($breakpoint-4) {
      white-space: normal;
      bottom: 40px;
    }
  }
}

.meeting-button {
  svg {
    width: 60px;
    height: 60px;
    fill: $dark;
    @include ease-long;
    @include r($breakpoint-1) {
      width: 55px;
      height: 55px;
    }

    @include r($breakpoint-4) {
      width: 43px;
      height: 43px;
    }
  }

  &:hover {
    svg {
      fill: $light;
      transform: scale(.9);
    }
  }
}

.advantages {
  .section-title {
    @include r(458) {
      transform: translateY(110px);
    }
  }
}

.advantage {
  text-align: center;

  &__picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 42px;

    @include r($breakpoint-1) {
      margin-bottom: 30px;
    }

    //@include r($breakpoint-1) {
    //  max-height: 345px;
    //}
  }
  &__title {
    margin-bottom: 30px;

    @include r($breakpoint-1) {
      margin-bottom: 20px;
    }
  }
  &__info {
    line-height: 1.1;
  }
}

.row-gap-60 {
  row-gap: 60px;
}

.escort {
  @include r($breakpoint-4) {
    margin-bottom: 10px;
  }
}

.escort .slider {
  overflow: hidden;
}
.escort-slide {
  height: 660px;
  @include cv;

  @include r($breakpoint-1) {
    height: 485px;
  }
}

.escort-form {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  background-color: $white;

  @include r($breakpoint-2) {
    gap: 19px;
  }

  .button {
    @include r($breakpoint-1) {
      white-space: nowrap;
    }

    @include r($breakpoint-2) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include r($breakpoint-3) {
      white-space: normal;
      grid-column: 1/4;
    }
  }

  @include r($breakpoint-3) {
    padding: 20px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include r($breakpoint-4) {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > * {
      width: 100%;
    }
  }

  .form-input {
    flex-grow: 1;

    @include r($breakpoint-2) {
      letter-spacing: 0.12em;
    }
  }
}

.likes-title,
.likes-subtitle {
  position: relative;
  z-index: 1;
}

.likes-title {
  @include r($breakpoint-4) {
    margin-bottom: 0;
  }
}

.likes-picture__wrapper {
  position: relative;
  height: 100%;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 120%;
    @include r($breakpoint-1) {
      max-width: 130%;
    }
    @include r($breakpoint-2) {
      max-width: 114%;
    }

    @include r($breakpoint-4) {
      max-width: 100%;
      position: relative;
      right: auto;
      bottom: auto;
    }
  }
}

.likes-picture {
  &-mobile-picture {
    display: none;
    @include r($breakpoint-4) {
      display: block;
      width: calc(100% + 40px);
      max-width: calc(100% + 40px) !important;
      left: -15px;
    }
  }
  &-desktop-picture {
    @include r($breakpoint-4) {
      display: none;
    }
  }

  &__text {
    display: none;
    @include r($breakpoint-4) {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;


      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);

    }
  }
}

.likes {
  @include r($breakpoint-4) {
    padding-top: 40px;
    overflow: hidden;
  }
  &__in {
    padding-top: 95px;
    padding-bottom: 120px;
    @include r($breakpoint-1) {
      padding-top: 40px;
      padding-bottom: 64px;
    }
    @include r($breakpoint-2) {
      width: calc(100% + 20px);
      position: relative;
      left: -20px;
    }
    @include r($breakpoint-4) {
      width: 100%;
      left: 0;
      padding-top: 28px;
      padding-bottom: 25px;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 215px);
    gap: 10px;

    @include r($breakpoint-2) {
      grid-template-columns: repeat(2, auto);
    }
  }
}

.likes-descr {
  @include r($breakpoint-1) {
    max-width: 488px;
    br {
      display: none;
    }
  }

  @include r($breakpoint-4) {
    &.lh14 {
      line-height: 1.6;
    }
  }
}

.likes-button {
  display: grid;
  grid-template-columns: 20px auto;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  white-space: nowrap;
  color: $white;
  padding: 20px 15px;
  @include text3;
  @include font-g;

  &:hover {
    color: $white;
    opacity: .8;
  }

  svg {
    fill: $white;
    width: 20px;
    height: 20px;
  }
}

.sales {
  @include r($breakpoint-1) {
    margin-top: -30px;
  }
  @include r($breakpoint-2) {
    margin-top: -60px;
  }

  .swiper-nav button {
    top: calc(calc(524px / 2) - 30px);
    transform: translateY(0);

    @include r($breakpoint-1) {
      top: calc(calc(385px / 2) - 30px);
    }
  }
}
.sales .slider {
  overflow: hidden;
}

.sales .section-title__wrapper {
  position: relative;
  padding-top: 60px;
  transform: translateY(100px);
  z-index: 2;
  display: inline-block;
  @include ease;
  @include r($breakpoint-1) {
    transform: translateY(70px);
  }
  @include r(458) {
    transform: translateY(110px);
  }
}

.sales .section-title {
  transform: translateY(0);
}
.sales .section-title__wrapper.active {
  transform: translateY(0);
}

.sale {
  text-align: center;

  &:hover {
    .sale__title {
      color: $light;
    }
    .sale-form {
      opacity: 1;
      visibility: visible;

      &__in {
        transform: translateY(0);
      }
    }
  }

  &__top {
    position: relative;
    width: 100%;
    height: 524px;
    @include cv;
    margin-bottom: 42px;
    overflow: hidden;

    @include r($breakpoint-1) {
      height: 385px;
      margin-bottom: 30px;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include ease-long;

    @include r($breakpoint-1) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    @include r($breakpoint-1) {
      margin-bottom: 12px !important;
    }
    @include r($breakpoint-2) {
      margin-bottom: 18px !important;
    }
  }
  &__info {
    line-height: 1.1;
  }
}

.sale-form {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 30px;
  text-align: left;
  color: $white;
  opacity: 0;
  visibility: hidden;
  background: rgba(9, 70, 140, 0.7);
  backdrop-filter: blur(5px);
  @include ease-long;

  @include r($breakpoint-1) {
    padding: 15px 30px;
  }

  &__in {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-10px);
    height: 100%;
    @include ease-long;

    .title-h35 {
      margin-bottom: 53px;

      @include r(1900) {
        font-size: 28px;
      }
      @include r($breakpoint-1) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    .checkbox__text {
      a:hover {
        color: $lightBlue;
        border-bottom-color: $lightBlue;
      }
      @include r($breakpoint-1) {
        a {
          white-space: nowrap;
        }
      }
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 43px;

    @include r($breakpoint-1) {
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  .button {
    margin-top: 40px;
    align-self: flex-start;
  }
}

.contacts-top {
  display: none;
  @include r($breakpoint-4) {
    height: 302px;
    @include cv;
    display: block;
    width: 100%;
  }
}

.contacts-bottom {
  width: 100%;
  @include r($breakpoint-4) {
    position: relative;
    padding-top: 20px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(62deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
  }
}

.contacts {
  position: relative;
  overflow: hidden;
  min-height: 760px;
  display: flex;
  align-items: center;

  @include r($breakpoint-1) {
    min-height: 640px;
  }

  @include r($breakpoint-2) {
    min-height: 680px;
  }

  @include r($breakpoint-4) {
    flex-direction: column;
    background-color: #F4F9FE;
  }

  .container {
    position: relative;
    z-index: 1;
  }
}
.contacts-pictures {
  @include ovl;

  @include r($breakpoint-4) {
    display: none;
  }

  &__in {
    position: relative;
    width: 100%;
    height: 100%;
    @include r($breakpoint-1) {
      width: calc(#{$breakpoint-1} * 1px);
      height: 640px;
      transform: translateX(-4%);
    }
    @include r($breakpoint-2) {
      width: calc(#{$breakpoint-2} * 1px);
      height: 680px;
      transform: translateX(-4%);
    }
    @include r($breakpoint-3) {
      width: calc(#{$breakpoint-3} * 1px);
      height: 680px;
      transform: translateX(-4%);
    }

    @include r($breakpoint-4) {
      width: 100%;
      height: 100%;
      transform: translateX(0);
    }
  }
}

.contacts-bg {
  @include ovl;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  @include r($breakpoint-4) {
    display: none;
  }

  //@include r($breakpoint-1) {
  //  //background-size: 120%;
  //  //background-position-y: 0;
  //  //background-position-x: -220px;
  //  //transform: scale(1.2) translate(30px, 20px);
  //  /* background-position: center; */
  //  //background-size: initial;
  //  //background-position: -410px 50%;
  //}
}



.contacts-mark {
  position: absolute;
  right: 366px;
  margin-top: 67px;
  top: calc(50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: unset;

  @include r($breakpoint-1) {
    right: 304px;
    margin-top: 54px;
  }
  @include r($breakpoint-4) {
    right: 0;
  }

  &__placemark {
    position: relative;
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      border-color: $dark;
      border-style: solid;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      animation: 2.1s ripple-loader infinite;
      animation-delay: 100ms;
    }
  }
}
@keyframes ripple-loader {
  0% {
    width: 40px;
    height: 40px;
    border-width: 10px;
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.35;
  }
  60% {
    border-width: 1.5px;
    opacity: 0.25;
  }
  80% {
    border-width: 1px;
    opacity: 0.25;
  }
  100% {
    width: 85px;
    height: 85px;
    border-width: 0;
    opacity: 0;
  }
}


//.contacts-store {
//  position: absolute;
//  height: 100%;
//}
//.contacts-map {
//  position: relative;
//  height: 100%;
//}


.contacts-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  padding-left: 140px;

  @include r($breakpoint-1) {
    padding-left: 60px;
    gap: 40px;
  }

  @include r($breakpoint-3) {
    padding-left: 15px;
  }

  @include r($breakpoint-4) {
    gap: 30px;
  }

  &>* {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 200px);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(20px);
    mask: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0) 70%,
                    rgba(0, 0, 0, 0) 100%
    );


    @include r($breakpoint-4) {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    margin-left: calc(8.33% * 4 + 40px * 4 - 140px);
    transition: margin-left .5s ease;

    @include r($breakpoint-2) {
      margin-left: calc(8.33% * 3 + 40px * 3 - 140px)
    }

    @include r($breakpoint-3) {
      margin-left: 0;
    }

    &.wide {
      margin-left: 0;
    }
  }
}

.contacts-button {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  @include flex-center;
  z-index: 1;
  border-radius: 50%;
  background-color: $dark;

  @include r($breakpoint-1) {
    width: 50px;
    height: 50px;
    left: -25px;
  }

  @include r($breakpoint-3) {
    display: none;
  }

  &.active {
    svg {
      transform: scaleX(-1);
    }
  }

  &:hover {
    background-color: $light;
  }
  svg {
    width: 14px;
    height: 18px;
    fill: $white;
    @include ease;

    @include r($breakpoint-1) {
      width: 12px;
      height: 16px;
    }
  }
}

.contacts-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  @include r($breakpoint-4) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include r(400) {
    gap: 20px;

    .title-mb-3 {
      margin-bottom: 10px;
    }
  }
  &__item {
    &:nth-child(1) {
      grid-column: 1/3;
    }
  }
}

.contacts-icons {
  margin-top: -20px;
  display: flex;
  gap: 8px;

  @include r($breakpoint-4) {
    gap: 6px;
    margin-top: 0;
    z-index: 2;
  }

  .contacts-icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;


    @include r($breakpoint-4) {
      width: 25px;
      height: 25px;
    }


    @include r($breakpoint-4) {
      svg {
        width: 25px;
        height: 25px;
      }
    }

    &:hover {
      svg {
        &:last-child {
          opacity: 1;
        }
      }
    }
  }
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include ease;

    &:last-child {
      opacity: 0;
    }
  }
}

.contacts-mobile-map {
  display: none;

  @include r($breakpoint-4) {
    display: block;
    position: relative;
    height: 316px;
    margin-top: -40px;
    width: 100%;

    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .contacts-mark__placemark {
      position: absolute;
      right: 110px;
      bottom: 80px;
    }
  }
}