<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <button class="footer-button js-button-anchor" data-to="#offer">
                <svg width="50" height="50">
                    <use xlink:href="#button-up"></use>
                </svg>
            </button>
            <div class="footer-top__in">
                <div class="footer-left">
                    <a href="#" class="footer-logo">
                        <svg width="210" height="88">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                    <div class="footer-info text3 font-g">Французская марка одежды для мужчин и женщин в<br>
                        "Крокус Сити Молл" с индивидуальным порядковым
                        номером на каждом изделии</div>
                </div>

                <a href="#" class="nk">
                    <svg width="140" height="22">
                        <use xlink:href="#nk"></use>
                    </svg>
                    <span>Разработка и продвижение</span>
                </a>

                <div class="footer-contacts">
                    <div class="footer-tel__wrapper">
                        <a class="footer-tel title-h4 font-gbold" href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
                        <span class="font-g text3">ежедневно с 10:00-22:00</span>
                    </div>

                    <div class="socials">
                        <a href="#" class="socials__icon">
                            <svg>
                                <use xlink:href="#ws"></use>
                            </svg>
                        </a>
                        <a href="#" class="socials__icon">
                            <svg>
                                <use xlink:href="#tg"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <a href="#" class="link-underline text3">Политика конфиденциальности</a>
        </div>
    </div>
</footer>