<!-- preloader-->
<style>
    .preloader {
        position: relative;
        width: 130px;
        height: 18px;
        border: 1px solid #09468C;
        -webkit-animation-name: blinker;
        animation-name: blinker;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }

    .preloader::before {
        position: absolute;
        content: '';
        width: calc(100% / 2);
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #3586D6;
    }

    .preloader__wrapper {
        background: #fff;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    @-webkit-keyframes blinker {
        from {
            opacity: 1.0;
        }
        to {
            opacity: 0.0;
        }
    }

    @keyframes blinker {
        from {
            opacity: 1.0;
        }
        to {
            opacity: 0.0;
        }
    }
</style>
<div class="preloader__wrapper">
    <div class="preloader"></div>
</div>
<!-- /preloader-->