<form class="sale-form">
    <div class="sale-form__in">
        <div class="title-h35 font-medium">Заполните и мы свяжемся с вами в течение 10 минут</div>
        <div class="sale-form__fields">
            <input type="text" class="form-input form-input--light" placeholder="Имя фамилия">
            <input type="tel" class="form-input form-input--light js-tel" placeholder="Телефон">
            <input type="email" class="form-input form-input--light" placeholder="Email">
        </div>
        <label class="checkbox checkbox--light">
            <input type="checkbox" checked>
            <span class="checkbox__text">
            <svg><use xlink:href="#check"></use></svg>
            <span>Принимаю условия <a href="#" class="font-gbold link-underline">политики конфиденциальности</a></span>
        </span>
        </label>

        <button class="button button-secondary">Забронировать</button>
    </div>
</form>